<div class = "main_body">

				<div class="wrapper">
					<!-- Introduction Row -->
					<div class="row">
						<div class="col-sm-12 text-center">
							<%= image_tag('vikile_green.png', :alt => "Vikile Logo", :class => "top_page_logo_vikile")%>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<%= image_tag('vikilelogo2.png', :alt => "Vikile Logo", :class => "top_page_logo")%>
						</div>
						<div class="col-lg-6">

							<h1 class="page-header">About Us
								<small>It's Nice to Meet You!</small>
							</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
						</div>
					</div>


					<!-- featurette divider -->
					<hr class="feature-divider"></hr>

					<!-- Start Website Features --> 

					<!--  Main features -->

					<div class="row main_features_row">
						<div class="col-xs-12 text-center">
							<h1 class="main_features_text_1">
								Aspire to Greatness!
							</h1>
						</div>
						<div class="col-lg-4 text-center">
							<i class="fa fa-pencil fa-5x" id="pencil_icon"></i>
							<h2>share </h2>
							<p></p>
							<p><span class="text-muted h3">write an article on what you know </span></p>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4 text-center">
							<i class="fa fa-book fa-5x" id="pencil_icon"></i>
							<h2>learn</h2>
							<p></p>
							<p><span class="text-muted h3"> browse hundreds of articles</span></p>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4 text-center">
							<i class="fa fa-users fa-5x" id="users_icon"></i>
							<h2>connect</h2>
							<p></p>
							<p><span class="text-muted h3"> sharewith friends</span></p>
						</div><!-- /.col-lg-4 -->
					</div>

					<!-- start editing today -->
					<div class="row start_editing_today">
						<div class="col-xs-6 text-center">
							<%= image_tag('vikile1.png', :alt => "Vikile Logo", :class => "grayed_logo")%>
						</div>
						<div class="col-xs-6">
							<div class="jumbotron">
								<h1>Start editing for free!</h1>
								<p class="lead"> You can start reading and editing articles today without an account an for free</p>
							</div>
						</div>
					</div>

					<!-- create an account for enhanced features -->
					<div class="row create_an_account_row">
						<div class="col-xs-6">
							<div class="jumbotron">
								<h1>Get Enhanced Features by Signing Up</h1>
								<p class="lead"> Make an account to save articles, share by email and follow your favorite writers</p>
							</div>
						</div>
						<div class="col-xs-6 text-center">
							<i class="fa fa-smile-o fa-5x"></i>
						</div>

					</div>
					<!-- enhanced features -->

					<!-- Team Members Row -->
					<div class="row">
						<div class="col-sm-12">

						</div>
						<div class="col-lg-12">
							<h2 class="page-header text-center">Our Team</h2>
						</div>
						<div class="col-lg-4 col-sm-6 text-center">
							<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
							<h3>John Smith
								<small>Job Title</small>
							</h3>
							<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center">
							<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
							<h3>John Smith
								<small>Job Title</small>
							</h3>
							<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center">
							<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
							<h3>John Smith
								<small>Job Title</small>
							</h3>
							<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center">
							<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
							<h3>John Smith
								<small>Job Title</small>
							</h3>
							<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center">
							<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
							<h3>John Smith
								<small>Job Title</small>
							</h3>
							<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center">
							<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
							<h3>John Smith
								<small>Job Title</small>
							</h3>
							<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
						</div>
					</div>
				</div><!-- end main body-->
			</div>