	<div class="main_body">
			<div class="main_body_row row">
				<div class="request_drawing_page_title_col col-xs-12">
					<h3 class="request_drawing_page_title"> Request A Drawing </h3>
				</div>
			 	<div class="request_drawing_form_col col-md-8 col-xs-12">
					<div class="request_drawing_form_panel panel panel-default">
						<div class="request_drawing_form_panel_body panel-body">
							<form id="upload_photos_form">

								<div class="upload_photos_wrapper">
									<div class="form-group upload_photos_button_form_group">
										<input  type="file" id="image_upload_btn_hidden">
										<button type="button" id="image_upload_btn_showing" class="btn btn-primary image_upload_btn_showing" role="input">
											Upload Photo<span class="glyphicon glyphicon-plus upload_photos_plus" aria-hidden="true"></span>
										</button>

									</div>
									<div class="form-group photos_form_group">
										<div class="uploaded_photos_wrapper" id="uploaded_photos_wrapper">
											<output id="list"></output>
										</div><!-- end uploaded photos wrapper -->
									</div><!-- end photos form group-->
								</div><!-- end upload photos wrapper -->

								<div class="choose_people_wrapper">
									<label for="choose_people_input"> Choose which people from each photo to draw</label>
									<div class="choose_people_form_group_wrapper">
										<div class="form-group choose_people_form_group" id="choose_people_form_group_1">
											
											<p class="pic_number" id="pic_number_1">
												1
											</p>
											<input type="text" class="form-control choose_people_input" id="choose_people_1">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->
									<div class="choose_people_form_group_wrapper">
										<div class="form-group choose_people_form_group" id="choose_people_form_group_2">
											<p class="pic_number" id="pic_number_2">
												2
											</p>
											<input type="text" class="form-control choose_people_input" id="choose_people_2">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->
									<div class="choose_people_form_group_wrapper">
										<div class="form-group choose_people_form_group" id="choose_people_form_group_3">
											<p class="pic_number" id="pic_number_3">
												3
											</p>
											<input type="text" class="form-control choose_people_input" id="choose_people_3">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->
									<div class="choose_people_form_group_wrapper_more">
										<div class="form-group choose_people_form_group" id="choose_people_form_group_4">
											<p class="pic_number" id="pic_number_4">
												4
											</p>
											<input type="text" class="form-control choose_people_input" id="choose_people_4">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->
									<div class="choose_people_form_group_wrapper_more">
										<div class="form-group choose_people_form_group" id="choose_people_form_group_5">
											<p class="pic_number" id="pic_number_5">
												5
											</p>

											<input type="text" class="form-control choose_people_input" id="choose_people_6">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->
									<div class="choose_people_form_group_wrapper_more2">
										<div class="form-group choose_people_form_group" id="choose_people_form_group_7">
											<p class="pic_number" id="pic_number_7">
												7
											</p>
											<input type="text" class="form-control choose_people_input" id="choose_people_7">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->
									<div class="choose_people_form_group_wrapper_more2">
										<div class="form-group choose_people_form_group" id="choose_people_form_group_8">
											<p class="pic_number" id="pic_number_3">
												8
											</p>
											<input type="text" class="form-control choose_people_input" id="choose_people_8">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->



									<div class="choose_num_people_wrapper">
										<label for="exampleInputEmail1">Total Number of People</label>
										<div class="form-group choose_num_people_form_group" id="choose_num_people_form_group">
											
											<input type="text" class="form-control choose_num_people_input" id="choose_num_people">
										</div><!-- end form group -->
									</div><!-- end choose people form group wrapper-->

									<button class="btn btn-primary more_people_btn">
										More <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>

								</div><!-- end choose people wrapper -->
								<div class="add_story_wrapper">
									<button class="btn btn-primary add_story_btn" type="button">
										Add Story To Drawing <span class="glyphicon glyphicon-plus add_story_plus" aria-hidden="true"></span>
									</button>
									<div class="first_story_action_div">
										<div class="form-group fist_story_action_form_group">
											<p class="story_action_number">
												1
											</p>
											<input type="text" class="form-control story_action_input " id="story_action_1" placeholder="first action">
										</div><!-- end 1 story action form group -->
									</div><!-- end 1 story action div -->

									<!--   second set of add action boxes -->

									<div class="first_story_action_div">
										<div class="form-group fist_story_action_form_group">
											<p class="story_action_number">
												2
											</p>
											<input type="text" class="form-control story_action_input" id="story_action_2" placeholder="first action">
										</div><!-- end 1 story action form group -->
									</div><!-- end 1 story action div -->

									<div class="first_story_action_div">
										<div class="form-group fist_story_action_form_group">
											<p class="story_action_number">
												3
											</p>
											<input type="text" class="form-control story_action_input" id="story_action_3" placeholder="First action">
										</div><!-- end 1 story action form group -->
									</div><!-- end 1 story action div -->

									<div class="second_story_action_div">
										<div class="form-group fist_story_action_form_group">
											<p class="story_action_number">
												4
											</p>
											<input type="text" class="form-control story_action_input " id="story_action_1" placeholder="first action">
										</div><!-- end 1 story action form group -->
									</div><!-- end 1 story action div -->

									<div class="second_story_action_div">
										<div class="form-group fist_story_action_form_group">
											<p class="story_action_number">
												5
											</p>
											<input type="text" class="form-control story_action_input" id="story_action_2" placeholder="first action">
										</div><!-- end 1 story action form group -->
									</div><!-- end 1 story action div -->

									<div class="second_story_action_div">
										<div class="form-group fist_story_action_form_group">
											<p class="story_action_number">
												6
											</p>
											<input type="text" class="form-control story_action_input" id="story_action_3" placeholder="First action">
										</div><!-- end 1 story action form group -->
									</div><!-- end 1 story action div -->

									<button class="btn btn-primary add_action_btn" type="button">
										Add Actions <span class="glyphicon glyphicon-plus add_story_plus" aria-hidden="true"></span>
									</button>

								</div><!-- end add story wrapper -->
								<div class="information_wrapper">
									<div class="form-group">
										<label for="exampleInputEmail1">Name</label>
										<input type="name" class="form-control" id="#" placeholder="Enter Name">
									</div>
									<div class="form-group">
										<label for="input_email_1">Email</label>
										<input type="eamil" class="form-control" id="#" placeholder="Enter Email">
									</div>

								</div><!-- end information wrapper -->

								<label for"total_cost"> Total Cost</label>
								<div class="submit_wrapper">

									<div class="form-group total_cost_form_group">
										<label class="sr-only" for="total_cots"> Amount </label>
										<div class="input-group">
											<div class="input-group-addon">
												$
											</div>
											<input type="text" class="form-control" id="cost_total" placeholder="Amount">
											<div class="input-group-addon">
												.00
											</div>
										</div>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-default submit_form_btn">
											Add To Cart
											<span class="glyphicon glyphicon-shopping-cart add_to_cart_glyph" aria-hidden="true"></span>
										</button>
									</div>
								</div><!-- end submit and total wrapper -->
							</form>
						</div><!-- end request drawing form panel -->
					</div>
				</div><!-- end contact column -->
				<%= render(:partial => "side_area") %>
			</div>
		</div>