
<div class = 'row'>
<div class = 'container article_content'>
<div class = "col-md-8 col-xs-12">
<div class="panel panel-default articles_new_panel_heading">
  <div class="panel-heading ">
    <h2 class="panel-title">
    	<div id="method_selector">
		    This article has: 
			<input type="radio"  name="method_format" id = "an_methods" value="methods"> Multiple Methods <a id="methods"></a>
			<input type="radio" name="method_format" id = "an_parts" value="parts"> Multiple Parts <a id ="parts"></a>
			<input type="radio" name="method_format" id = "an_neither" value="neither" checked="checked"> Neither <a class="ac_question neither"></a>
        </div>
    </h2>
  </div>
<div class = "articles_new_content_wrapper">

	<div id = 'an_method_wrapper' class = 'global_hidden'>
		 <div class = "global_bold_description_wrapper">
			<h4>
				Method 1 of 1
			</h4>
		</div>
		<div class="form-group">


			
		</div>
	</div>
	<div class = "global_bold_description_wrapper">
		<h4>
			Steps

		</h4>
		Enter each step of your article here. Press "Add Step" after each individual step.
	</div>

		<div id = "an_main_input" class = "articles_new_main_input">
			<div style = "width: 100%;">
			<div class = "articles_new_main_input_left">
												<div class="global_bold_description_wrapper">
													<h2><span id = "an_step_number_0_0"> 1</span> </h2>
												</div>
											</div>
											<div class = "articles_new_main_input_right">
												<div class = "articles_new_bullets_button_wrapper">
													<button type="button" stepposition = '0' id = "an_bullets_button_0_0"class="btn btn-default an_bullets_button">1</button>
												</div>

												<div class = "articles_new_step_text_area" style = " margin-top: 10px;">

													<form accept-charset="UTF-8" action="/articles" class="new_article" id="new_article" method="post">
												    <div style="display:none">
												    	<input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value=<%=  form_authenticity_token %>>
												    </div>
														
														  <input id="article_parts_attributes_0_part_type" name="article[parts_attributes][0][part_type]" type="text">
														  
														  
														  <input id="article_parts_attributes_0_contents_content_body" name="article[parts_attributes][0][contents][content_body]" type="text">

														  <input id="article_parts_attributes_0_article_id" name="article[parts_attributes][0][article_id]" type="text"><input id="article_parts_attributes_1_part_type" name="article[parts_attributes][1][part_type]" type="text">
														  <input id="article_parts_attributes_1_article_id" name="article[parts_attributes][1][article_id]" type="text">
														  
														  <input id="article_parts_attributes_1_contents_content_body" name="article[parts_attributes][1][contents][content_body]" type="text">

														  <input id="article_parts_attributes_2_part_type" name="article[parts_attributes][2][part_type]" type="text">
														  <input id="article_parts_attributes_2_article_id" name="article[parts_attributes][2][article_id]" type="text">
														  
														  <input id="article_parts_attributes_2_contents_content_body" name="article[parts_attributes][2][contents][content_body]" type="text">
														 <input class="btn btn-success btn-sm pull-right" name="commit" type="submit" value="Submit">
</form>

												</div>


											</div>
										</div>
										<div style="clear: both;"></div> 
				<div style="clear: both;"></div> 
			</div>
		</div>



</div>


</div>
</div>
</div>



