body {
    font-family: 'Open Sans', "Helvetica" , sans-serif;

}

/* Navbar */
.navbar-custom {
    background-color: #9CBB80;
    border-color: #9CBB80;
    .navbar-header {
        margin-left: 12px;
    }
    .navbar-nav {
        margin: 7.5px 0px;
    }
    .navbar-nav > li > a {
        background-color: white;
        font-weight: bold;
        color: #555;
        padding: 12px;
    }
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: #79a851;
        background-color: white;
    }
    .navbar-right {
        margin-top: 16px;
        
    }
    .left_nav_button {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .right_nav_button {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .categories_div {
       background-color: #669345;
    }
    .navbar-collapse {
        border-color: #9CBB80;
    }
    .searchbar_nav {
        width: 100%;
        li {
            width: 100%;
        }
    }
    .navbar_search {
        margin-top: 8px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .navbar_search > input-group {
        width: 100%;
    }



    #nav_links {

        
        a,
        a:hover, 
        a:focus{
            background-color: #669345;
            color: white;
        }
        .dropdown-menu {
            right: 0px;
        }

        .categories_div {
            li {
                padding: 10px 28px;
            }
            a {
                font-weight: bold;
            }
        }
        .categories_img {
            height: 50px;
        }
    }

    #phone_toggle {
    }
    #right_toggle {
        display: none;
    }

    #phone_toggle, #right_toggle {
        margin-top: 20px;
        border: none;
        border-radius: 1px;
    }

    #phone_toggle:hover, #right_toggle:hover, 
    #phone_toggle:focus, #right_toggle:focus{
        background-color: #659446;
    }

    

}

@media (max-width: 1245px) {
    .navbar-custom {
       
    }
}

@media (min-width: 1245px) {
    .navbar-custom {
       .searchbar_nav {
        width: 38%;
        margin-left: 5%;

        }
    }
}

@media (min-width: 1245px) {
 .navbar-custom {
       #nav_links {
            display: block;
            margin-right: 12px;
        }
    }

}

@media (min-width: 838px ) and (max-width: 1245px) {
    .navbar-custom {
        .navbar-toggle {
            display: none;
        }
        #right_toggle{
            display: block;
        }
        #nav_links {
            display: none;
        }
        .searchbar_nav {
            margin-left: 4%;
            width:62%;

        }
    }
}

@media (min-width: 838px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 838px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 838px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

@media (min-width: 838px) {
  .navbar-header {
    float: left;
  }
  .navbar-toggle {
    display: none;
  }
}
@media (min-width: 838px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 1305px) {
    .searchbar_nav {
    }

    .navbar_search {
        border: none;
    }

    .navbar-collapse {
        padding-bottom:12px;
    }
}

.navbar-nav {
    margin-top: 12px;
    .search_form {
        width: 100%;
        ::-webkit-input-placeholder {
            text-align: right;
            line-spacing: 1.9;
            font-family: "Bad Script";
            font-weight: 700;
            font-size: 16pt;
            color: green;
            font-style: italic;
            line-height: 24px;
        }
        :-moz-placeholder {
            text-align: right;
            line-spacing: 1.9;
            font-family: "Bad Script";
            font-weight: 700;
            font-size: 16pt;
            color: green;
            font-style: italic;
        }
        ::-moz-placeholder {
            text-align: right;
            line-spacing: 1.9;
            font-family: "Bad Script";
            font-weight: 700;
            font-size: 16pt;
            color: green;
            font-style: italic;
        }
        :-ms-input-placeholder {
            text-align: right;
            line-spacing: 1.9;
            font-family: "Bad Script";
            font-weight: 700;
            font-size: 16pt;
            color: green;
            font-style: italic;
        }
    }
    .input-group {
        width: 100%;
        .search_input {
            border-right: none;
            height: 45px;
            padding: 2px;
        }
    }
    .search_button {
        padding: 0 5px;
        background-color: none;
        height: 45px;
    }
    .categories_link {
        color: green;
    }
    .categories_dropdown {
        background-color: #9ebc7c;
        padding: 8px;
        li > a {
            color: white;
            text-align: center;
        }
        .list-unstyled {
            text-align: center;
        }
    }
}
.main_body {
    margin-top: 74px;
}


/* Main Page */

.articles.index {
     .hot_articles {
        margin-top: 60px;
    }

}
/* Create an Article page */

.create_article_container {
    

    .form-control {
        border: 1px solid #99bd80;
    }

    .create_article_panel{
        border: 1px solid #C8C8C8;
        padding: 25px 48px;
        .text_title {
            color: #7B9B63;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 2.5px;
        }

        .category_title {
            margin-top: 45px;
        }

        .article_content_panel {
            border: 1px solid #7B9B63;
            .panel-body {
                padding: 20px 50px;
            }   

            .method_text {
                width: 84%;
            }
            .method_number {
                margin-right: 28px;
                vertical-align: top;
                p {
                    font-family:"Droid Sans";
                    background-color: #7dac66;
                    width: 80px;
                    font-size: 38px;
                    font-weight: bold;
                    color: white;
                }
            }
            .method_text, .method_number {
                display: inline-block;
            }
        }
    }

    .add_step_btn {
        margin-right: 20px;
        margin-top: 15px;
    }

    .add_method_btn {
        margin-right: 20px;
        margin-top: 25px;
        margin-bottom: 20px;
        font-family: "Droid Sans";
        border-radius: 24px;
        font-size: 22px;
        padding: 8px;
        color: white;
        background-color: #9cbb80;
    }

    .add_step_btn {
        border-radius: 50%;
        font-size: 22px;
        padding: 8px 12px;
        color: white;
        background-color: #9cbb80;
    }

    .remove_step_btn {
        border-radius: 13%;
        margin-left: 15%;
        margin-top: 8px;
        font-size: 13px;
        padding: 8px;
        color: white;
        background-color: #D9534F;
        border: 1px solid #D43F3A;
    }

    .articles_new_button.add_tip_btn, .articles_new_button.add_warning_btn {
        margin-top: 25px;
        margin-left: 0px;
    }

    .submit_discard_btn /*submit and discard panel*/{
        border: none;
        width: 100%;
    }

    .articles_new_button {
        color: white;
        background-color: #76a060;
        width: 150px;
        border: 1px solid #517542;
    }

    .discard_button {
        width: 80px;

    }

    .discard_button, .articles_new_button {
         font-family:"Droid Sans";
         margin: 0px 10px;
         font-weight: bold;
         font-size: 16px;
    }
}


/* Login Splash Page */
.login-screen {
        background-image: image-url("login_background.jpg");
        background-size: 100% 100%;
        z-index: 9000000000;
      }

.navbar-custom {
  /*visibility: hidden;*/
}
.cancel {
        display: block;
        position: absolute;
        top: 30px;
        right: 15px;
        color: white;
        height: 30px;
        width: 35px;
        font-size: 30px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
      }

      .cancel:hover {
        color: black;
        text-decoration: none;
      }

      .sign_up_div {
        width: 300px;
        margin-left: 450px;
      }

      .login_in_here {
        padding-bottom: 20px;
      }
      .sign_up_div, .login_in_here, .login_social_div {
        background-color:   rgba(0, 0, 0, 0.61);
        padding: 15px;
        border-radius: 4px;
        font-family: "Droid Sans/*,helvetica*/";

        .sign_up_text, .login_text {
            p {
                color: #53953e;
                font-weight: 900;
                font-size: 18px;
            }

            
        }
         .form-group {
            margin: 31px 0px;
        }
        a.forgot_password {
                color: white;
            }
        label {
            color: white;
        }
        .register_button, .login_button {
            background-color: #539440;
            font-weight: bold;
            font-family: "Droid Sans/*,helvetica*/";
            border: none;
        }
         ::-webkit-input-placeholder {
            color: #53953e;
            font-family: "Droid Sans/*,helvetica*/";
            font-weight: bold
        }
        :-moz-placeholder {
            color: #53953e;
            font-family: "Droid Sans /*,helvetica*/";
            font-weight: bold
        }
        ::-moz-placeholder {
            color: #53953e;
            font-family: "Droid Sans /*,helvetica*/";
            font-weight: bold
        }
        :-ms-input-placeholder {
            color: #53953e;
            font-family: "Droid Sans /*,helvetica*/";
            font-weight: bold
        }
      }

      .login_in_div {
        width: 300px;
        margin-left: 50px;
      }

      .sign_up_div, .login_in_div {
        display: inline-block;
        vertical-align: top;
        margin-top:180px;
      }

      .login-screen {  
        position:fixed; 
        z-index:1040    ; 
        display:none; 
        top:0;
        left:0; 
        min-width: 100%; 
        height: 800px; } 

        .login-screen:target, .login-screen:target + #cover{ display:block; opacity:2; } 


.carousel #home_carousel {
    padding-top: 10px;
}
.carousel_img {
    padding-top: 85px;
    max-width: 100%;
    height: 550px;
}

.carousel-inner {
    padding-top: 18px;
}
.carousel_image_container {
    padding: 0px 31px;
}
.carousel-caption {
    padding: 5px 20px;
    position: relative;
    background: rgba(0,0,0,0.6);
    margin-top: -110px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Droid Sans'/*,helvetica*/;
    .caption_header_link {
        color: white;
        float: left;
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
    }
    p {
        width: 100%;
        text-align: left;
        margin-left: 20px;
        font-size: 18px;
    }
}
.carousel-indicators {
    margin-bottom: -81px;
    margin-left: -14%;
    text-align: right;
    .active {
        background-color: #597739;
        border-color: #597739;
    }
    li {
        background-color: #95b377;
        border-color: #95b377;
        padding: 0px;
        p {
            font-weight: bold;
            color: white;
            margin-right: 5px;
        }
    }
    li, .active {
        width: 20px;
        height: 20px;
        border-radius: 0px;
        margin: 1px;
    }
}
.carousel_image_caption {
    width: 100%;
}
.home_img {
    background-position: center;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.first_img {
    background-image: image-url("home_img1.png");
}
.second_img {
    background-image: image-url("home_img2.png");
}
hr {
    border-top: 1px solid #CBCBCB;
    margin: 15px 0px 9px 0px;
}
.articles_row {
    border: 1px #BDC3C7 solid;
    box-shadow: 1px 1px #BDC3C7;
    border-radius: 4px;
    margin-top: 9px;
    .category_title_col {
        padding: 10px 20px;
        .category_title {
            color: #79a851;
            font-weight: 800;
            font-size: 16px;
        }
    }
}
.article_panel {
    border: none;
    box-shadow: none;
    .panel_top {
        padding: 0px;
        .article_picture {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            width: 100%;
        }
    }
    .panel_info_underneath {
        border-style: none;
        height: 100px;
        box-shadow: none;
        padding: 5px 0px 0px 0px;
        .info_item {
            margin-right: 12px;
            float: left;
            img {
                width: 20px;
                float: left;
            }
            p {
                float: left;
            }
        }
        .info_item .last_info_item {
            margin-right: 0px;
        }
        .title a {
            color: #4e8029;
            font-weight: 900;
            font-size: 15px;
            height: 80px;
            overflow: hidden;
            text-transform: uppercase;
        }
        .article_underneath_info {
            height: 30px;
            margin-top: 10px;
        }
    }
}
.main_buttons {
    position: absolute;
    right: 0px;
    z-index: 20;
    width: 106px;
}
.stationary {
    top: 640px;
}
.floating {
    position: fixed;
    top: 130px;
}
.yaz_img_button, .rasgele_img_button, .other_img_button {
    margin-bottom: 20px;
    width: 300px;
    position: absolute;
    right: -208px;
}
.yaz_img_button {
    top: 0px;
}
.rasgele_img_button {
    top: 60px;
}
.other_img_button {
    top: 120px;
}
.button_hover {
    right: -45px;
    width: 300px;
}
#left_sidebar {
    margin-left: 50px;
}
#left_sidebar.affix {
    position: fixed;
    top: 95px;
}
.affix, .affix-top {
    position: static;
}

#side_area {
    
}
.most_panel.panel {
    border-radius: 0px;
    border: none;
    z-index: 10000;
}
.most_article_heading {
    background-color: #669345 !important;
    border-radius: 0px;
    margin-bottom: 6px;
    a {
        font-size: 16px;
        font-family: 'Droid Sans'/*,helvetica*/;
        color: white;
    }
}
.most_panel_body {
    border: 1px #BDC3C7 solid;
    padding: 4px;
    .most_panel_ind_article {
        padding: 10px 4px;
        width: 100%;
        height: 80px;
        .most_img {
            width: 20%;
            float: left;
            padding-top: 4px;
        }
        .most_info_section {
            width: 70%;
            float: left;
            margin-left: 10px;
            a {
                font-size: 12px;
                font-weight: bold;
                color: #777;
            }
            .most_description {
                font-size: 10px;
            }
        }
    }
    .most_panel_ind_article_middle {
        border-top: 1px dotted #555;
    }
    .most_panel_ind_article_bottom {
        border-top: 1px dotted #555;
    }
}
footer {
    background-color: #eef2f1;
    margin-top: 50px;
    padding: 50px 200px 10px 200px;
    .footer_col {
        width: 20%;
        float: left;
    }
}

/* Article Main Page */

.articles.show {

    .carousel {
        margin-top: 89px;
    }

    .article_row {
        border: 1px #BDC3C7 solid;
        box-shadow: 1px 1px #BDC3C7;
        border-radius: 4px;
        padding-bottom: 100px;
        .total_shares_div {
                padding: 4px;
                background-color: #9ABC81;
                color: white;
                font-size: 22px;
                min-width: 34px;
                margin: 0px 10px 0px 0px;

                .num {
                    font-weight: bold;
                    font-size: 24px;
                }
                .shares {
                    font-size: 20px
                }
                .num, .shares {
                    margin: 0px 4px;
                    line-height: 20px;
                    font-family: "Droid Sans", Helvetica;
                }
        }
        .article_buttons {
            padding: 7px;
            img,.total_shares_div,.share_div {
                display: inline-block;
                vertical-align: middle;
            }
            .share_div {
                img {
                    display: block;
                    margin: 3px;
                }
            }
        }
        .step {
            .in_text_article_num {
                float: left; 
                clear: right;
                background-color: #9ABC81;
                color: white;
                font-size: 22px;
                min-width: 34px;
                margin: 0px 10px 0px 0px;
                padding: 4px;
            }
            .pic_and_info {
                .article_title_div {
                background-color: rgba(0, 0, 0, 0.69);
                padding: 0px 10px;
                .article_part_num, .bolum, p {
                    display: inline-block;
                }
                .article_part_num {
                    font-size: 47px;
                    color: white;
                    margin: 5px;
                    font-weight: bold;
                }

                .bolum {
                    font-family: "Droid Sans"/*,helvetica*/;
                    font-weight: bold;
                    color: #9ab980;
                    font-size: 20px;
                }
                p {
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    display: inline-block;
                    margin-left: 8px;
                }

                }
                .panel-body {
                    min-height: 500px;
                    padding: 0px;
                    background-size: 100% 100%;
                    max-width: 750px;
                }

                #step-1 {
                    background-image: image-url("article_img_1.png");
                }
                #step-2 {
                    background-image: image-url("article_img_2.png");
                }
                #step-3 {
                    background-image: image-url("article_img_3.png");
                }
                #article_warn {
                    background-image: image-url("article_warn.png");
                }

            }
        }

        .feedback {
            .panel-body {
                padding: 15px 150px;
            }
            p {
                background-color: #9ABC81;
                color: white;
                font-size: 22px;
                min-width: 34px;
                margin: 10px;
                padding: 4px 10px;
            }
            .did_this {
            
            }
            .responses {
                p {
                    display: inline-block;
                }
            }
        }
        .thank_you_message {
            color: #8BB071;
        }
    }

}


/*Profile Page */

.profile_area {
    padding-top: 15px;
    .profile_pic_col {
        .profile_pic_panel {
            margin-botom: 10px;
            .profile_pic_body {
                border: 1px #BDC3C7 solid;
                padding: 4px;
                .resmi_img_button {
                    position: relative;
                    left: -130px;
                    z-index: -2;
                }
                .profile-pic {
                    max-width: 100%;
                }
            }
        }
    .profile_info_left_panel_body{
        font-family: 'Droid Sans'/*,helvetica*/;
        padding: 4px;
        .number_written_div {
            .yaz_img {
                display: inline-block;
                vertical-align: top;
            }
            .info_text_div{
                display: inline-block;
                .top_info {
                    font-size: 12px;
                    font-weight: bold;
                    border-bottom: 2px solid #7b9b63;
                    color: #7b9b63;
                }
                .bottom_div {
                    .written_img,p {
                        display: inline-block;
                    }
                    p {
                       
                        font-size: 12px;
                        font-weight: bold;
                    }

                }
            }
        }
    }
    .profile_info_left_panel_ind_article {
                    width: 100%;
                    overflow: hidden;
                    padding: 10px 4px;
                    .most_img {
                        width: 20%;
                        float: left;
                        padding-top: 7px;
                    }
                    .profile_info_left_info_section {
                        width: 70%;
                        float: left;
                        margin-left: 10px;
                        a {
                            font-size: 11px;
                            font-weight: bold;
                            color: #777;
                        }
                        .most_description {
                            font-size: 9px;
                        }
                    }
                }
                .profile_info_left_panel_ind_article_middle {
                    border-top: 1px dotted #555;
                }
                .profile_info_left_panel_ind_article_bottom {
                    border-top: 1px dotted #555;
                }
    }
    .user_info_div {
        margin: 0px 5px 10px 0px; 
        .user_info_ind_div {
            width: 30%;
            float: left;
            margin: 10px 8px;
        }
        .user_info_icon {
            display: inline-block;
            vertical-align: top;
            width: 25px;
        }
        .user_info_text {
            display: inline-block;
            border-left:  1px solid #444;
            padding-left: 5px;
            line-height: 25px;
            font-family: 'Droid Sans'/*,helvetica*/;
            font-weight:500;
        }
    }
    .profile_articles {
        .profile_articles_title {
            padding: 10px 8px;
            a {
                color: #79a851;
                font-weight: 800;
                font-size: 16px;
                            }
        }
        .ind_article_and_info {
            display: inline-block;
            width: 47%;
            margin-left: 1%;
            height: 200px;
            margin: 5px;
            position: relative;
            overflow: hidden;
            padding: 5px;
            .profile_ind_article {
                color: white;
                height: 90%;
                width: 100%;
                position: relative;
                overflow: hidden;
                display: inline-block;
                .profile_pic_thumb {
                    width: 30%;
                    padding: 10px 0px 0px 10px;
                }
                .profile_article_bar {
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    opacity: .7;
                }
                .profile_article_img {
                    position: absolute;
                    z-index: 1;
                }
                .profile_article_info_overlay {
                    z-index: 3;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: 'Droid Sans'/*,helvetica*/;
                    height: 100%;
                    .article_category {
                        padding-left: 5px;
                    }
                    .category {
                        display: inline-block;
                        color: #669345;
                        font-size: 10px;
                        font-weight: 400;
                    }
                    .category_title {
                        font-size: 10px;
                        display: inline-block;
                        font-weight: 400;
                    }
                    .time_info {
                        padding: 18px 0px 4px 7px;
                    }
                    .time_stamp {
                        font-size: 10px;
                    }
                    .profile_name {
                    width: 100%;
                    color: #669345;
                    font-size: 13px;
                    font-weight: 600;
                    position: absolute;
                    bottom: 4px;
                    left: 7px;
                    }
                    .time_icon, .time_stamp, .profile_name {
                        display: inline-block;
                    }

                }
            }
            .article_underneath_info {
                height: 10%;
                display: inline-block;
                .info_item {
                    margin-right: 12px;
                    float: left;
                    img {
                        width: 20px;
                        float: left;
                    }
                    p {
                        float: left;
                    }
                }
                .info_item .last_info_item {
                    margin-right: 0px;
                }
            }
        }
    }
    .user_info_div {
        display: inline-block;
        background-color: #deefd1;
    }

    .profile_banner_and_info {

        .gorselini_img_button {
            position: absolute;
            top: 8px;
            z-index: -1;
            right: -82px;
        }
    }
}




/* Social Login Buttons */


@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
 div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", Helvetica;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px black;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
button#twitter {
    border-color: #007aa6;
    background-color: #008cbf;
    background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
button#googleplus {
    border-color: #111;
    background-color: #222;
    text-shadow: #333 -1px -1px 0;
    background-image:url(http://i.tinyuploads.com/KBZc6n.png);
}
div.social-wrap button:active {
    background-color: #222;
}
div.social-wrap.b button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", Helvetica;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.b {
}
div.social-wrap.b > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
    ;
}
div.social-wrap.b > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.b > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
    ;
}
div.social-wrap.b button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:"Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
div.social-wrap.c button {
    padding-left: 35px;
    padding-right: 0px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", Helvetica;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.c {
}
div.social-wrap.c > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
    ;
}
div.social-wrap.c > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.c > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
    ;
}
div.social-wrap.c button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:"Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}
ul.sm-wrap li {
    font-family:"Helvetica", Helvetica;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
ul.sm-wrap li#twitter-sm {
    background-image:url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
ul.sm-wrap li#gplus-sm {
    background-image: url(http://i.tinyuploads.com/KBZc6n.png);
}

ul.sm-wrap a{
    text-decoration: none;    
}



/* Smaller Screen */

