/* user profile */

.square {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #93B874;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:350px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square{
    border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}


/* -- end of user profile --*/


/* login page */


  body {
    padding-top: 15px;
    font-size: 14px;
    background-color: #ecebe8;
  }
  .main {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  


  /* end of login page */

  /*signin page*/

  .row-social
  {
  width: 100%;
  margin-left: 0px;
  }

  /* end of signin page */

  /* article styles */

  .article_content{

     font-size: 16px;
     color: #545454;
      line-height: 1.5;

  }
  .step_num {
  font-size: 43px;
  color: #545454;
  padding: 8px 15px 3px 0;
  float: left;
  font-weight: bold;
  }


/* article new styles */


.global_bold_description_wrapper h4
{
  
  
   font-weight: 600;
}
.global_bold_description_wrapper h2{
  
  margin-top: 10px;
  font-weight: 600;
  
}
.articles_new_topic_text_field
{
     width: 83.333333%;
}
.articles_new_content_wrapper
{
  width: 90%;

  margin: 30px auto;
  margin-bottom: 30px;
}

.articles_new_main_input{

  margin-top: 20px;
  width: 100%;

}

.articles_new_main_input_left{
 float: left;
 width: 5%;
 padding-top: 30px;

}
.articles_new_main_input_right{
  float: right;
  width: 95%;
  
}
.articles_new_add_section_left{
  width: 70%;
  float:left;
  margin-top: 3px;
}

.articles_new_add_section_right{
  width: 30%;
  float: right;
}
.global_hidden{
  
  visibility: hidden;
  height: 0px;

}
.articles_new_button{
  float: right;
 }
 .ariticles_new_add_source_text{
   margin-left: 100px;
   margin-top: 30px;

 }
 .cursor_pointer{
 cursor: pointer;
 }
 .articles_new_submit_button_wrapper{
 width: 100%;
 
 }

 .an_submit_button_wrapper{
  margin-left: 79.5%;

 }
 .main_row {

   margin-right: 0px;
   margin-top: 40px;
 }

 /* headbar */

 .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-inverse {
  height: 56px;
  
}

.navbar-form {
  padding: 0px  
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 31px;
 
}

.navbar-brand img {
  height: 46px;
  width: 46px;
  margin-top: -12px;
}


.header_brand_words img {
  width: 130px;
  margin-right: 1px;
}

.navbar-inverse .navbar-nav > li >a {
  color: rgb(241, 255, 239);
  font-size: 16px;
  /*color: #ECF0F;*/  
}

.navbar-left.navbar-form.navbar_search{
  margin-left: 2%;
}


input[type="text"]:focus {
  
  box-shadow: none;
}

.input-group {
  width: 412px;
}


/* main body ( to fix fxed navbar) */

.main_body {
  padding-top: 54px;
}

img.top_page_logo_vikile {
  height: 60px;
  margin: auto;
}

img.top_page_logo {
  height: 500px;
}

/* main area */ 

.feature-divider {
  margin: 80px 0px;
  display:none;
}


.main_features_row {
  padding: 100px 80px 140px 80px;
  background-color: #AC99FF;
  font-family: "Roboto", sans-serif;
}

.main_features_text_1 {
  font-weight: bold;
  margin-bottom: 70px;
  font-size: 46px;
  font-family: "Roboto", sans-serif;
}


.start_editing_today {
  padding: 100px 80px 140px 80px;
  background-color: #CC8752;  
}

.grayed_logo {
  height: 300px;
}

.jumbotron {
  background-color: transparent;
  padding-left:30px;
  padding-right: 30px;
}

.lead {
  color: #777 
}

.create_an_account_row {
  padding: 100px 80px 140px 80px;
  background-color: #47B247 ;
}

/* team area */

.img-center {
  margin: 0 auto;
}


/* end of headbar */

/* footer */


footer.footer {
  padding: 24px 12px 15px 12px;
  background-color: #ECECEC;
  border-top: 1px solid #E1E1E1;
}

footer> ul >li  {
  display: inline-block;
  width: 20%;
  margin: auto;
  margin-left: 15px;
}

footer> ul >li >a  {
  color: #307230;
}

.links {
  width: 60%;
  margin: auto;
  
}

.terms_conditions {
  width: 60%;
  padding: 15px;
  margin:auto;
}

img.footer_logo_img {
  padding: 0px 0px 7px 0px;
  width: 120px;
  margin: 0% 45%;
}

.footer_copyright_symbol {
  width: 100%;
  color: #717171;
}



/* end of footer*/


/* about page*/


/* end of about page*/

/* main body */

.main_body {
  margin: auto;
  background-color: #F5F5F5;
  padding: 0% 7%;
}

.main_body_row {
  margin: 0px;
}

/* article options */

.article_info {
  padding: 10px;
}

.articles_info_text {
  color: rgb(80, 126, 80);
  margin: 0px 7px;
  
}

.article_info > a:hover {
  color: #3F663F;
}

/* article title and info */

.article_plus_steps_row .article_info.col-xs-12 {
  padding: 0px;
}

.panel-heading, .panel {
  border:none;
  box-shadow: none;
}

.article_title {
  margin: 0px;
}

.panel-heading.article_title_heading {
  background-color: rgb(255, 255, 255); 
}
/*article steps */
.step_heading {
  
}

.article_part {
  background-color: rgb(255, 255, 255);
}

#part_heading {
  
}
.main_article{
    margin-top: 20px;

}
#part_1_heading.stay,#part_2_heading.stay,#part_3_heading.stay,#part_4_heading.stay    {
  position: fixed;
  top: 56px;
  z-index: 1000;
  margin: 0px 0px 20px 0px;
  padding: 10px 0px;
  background-color: white;
  width: 55%;
}

/* instruction pics */

.main_article_step_pic {
  width: 100%;
}

/* page info and ads */

/* about artiles */

.ind_heading {
  display: none;
}

.panel-heading.article_info_heading {
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

.article_info_ind {
  float: left;
  width: 46%;
  background-color:#F5F5F5;
  margin: 2% 2%;
}

.article_info_ind > .panel-body {
  padding: 12px 6px 8px 5px
}

.about_panel > .panel-body {
  padding: 0px 5px 5px 5px;
}

.about_details_text {
  text-align: center;
  vertical-align: middle;
  float:left;
  font-weight: bold;
}

.about_text {
  float:left;
}

.about_text p, .about_details_text p {
  font-size: 12px;
  color: rgb(80, 126, 80);
}

.about_icon {
  width: 100%;
}

.about_icon > .glyphicon {
  width: 100%;
  font-size: 27px;
  margin-bottom: 15px;
}

.glyphicon.glyphicon-thumbs-up {
  margin-left: 20%;
}

.glyphicon.glyphicon-thumbs-up, .glyphicon.glyphicon-thumbs-down {
  width: 30%;
}
/* main buttons */

.main_button {
  width: 100%;
  margin: 8px 0px;
  border-radius: 1px;
  line-height: 1.9;
}

/*social area */

.social {
  margin-top:15px;
}

.social_panel {
  margin-bottom: 0px;
  background-color: #FFFFFF;
}

/* social buttons */

.facebook_button, .twitter_button,.email_button {
  float: left;
  
}

.facebook_button {
  margin: 10px 5px 5px 15px;
}

.twitter_button {
  margin: 13px 5px 5px 32px;
}

.email_button {
  margin: 10px 5px 4px 30px;
}

.fb-like {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.twitter-share-button{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.email_button_div_bottom {
  margin-top: 5px;
}

.email_share_count {
  margin: auto;
  padding: 5px 18px;
  font-size: 18px;
}

.email_btn {
  padding: 0px 20px;
}

.emailshare_icon {
  height: 28px; 
}

/* email share count bubble */

.bubble
{
position: relative;
width: 70px;
height: 35px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: #9E9D9D solid 1px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 6px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -4px;
left: 29px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 6px 0;
border-color: #9E9D9D transparent;
display: block;
width: 0;
z-index: 0;
bottom: -5px;
left: 29px;
}

/* end of article*/
/* profile page */


/* main body */

.main_body {
  margin: auto;
  background-color: #FFFFFF;
  padding: 0% 7%;
}

.main_body_row {
  margin: 0px;
}


/* profile area */

.profile_area_div {
  margin-top: -18px;
}


/* inner profile area */

.profile_area_row_2 {
  margin-top: -12px;
}

.panel-default .panel-heading {
  background-color: #E7E7E7;
}


/* article options */

.article_info {
  padding: 10px;
}

.articles_info_text {
  color: rgb(80, 126, 80);
  margin: 0px 7px;
  
}

.article_info > a:hover {
  color: #3F663F;
}

/* article title and info */

.article_plus_steps_row .article_info.col-xs-12 {
  padding: 0px;
}

.panel-heading, .panel {
  box-shadow: none;
}

.article_title {
  margin: 0px;
}

.panel-heading.article_title_heading {
  background-color: rgb(255, 255, 255); 
}
/*article steps */
.step_heading {
  display: none;
}

.article_part {
  background-color: rgb(255, 255, 255);
}

#part_heading {
  
}

#part_1_heading.stay,#part_2_heading.stay,#part_3_heading.stay,#part_4_heading.stay    {
  position: fixed;
  top: 56px;
  z-index: 1000;
  margin: 0px 0px 20px 0px;
  padding: 10px 0px;
  background-color: white;
  width: 55%;
}

/* instruction pics */

.main_article_step_pic {
  width: 100%;
}

/* page info and ads */

/* about artiles */

.ind_heading {
  display: none;
}

.panel-heading.article_info_heading {
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

.article_info_ind {
  float: left;
  width: 46%;
  background-color:#F5F5F5;
  margin: 2% 2%;
}

.article_info_ind > .panel-body {
  padding: 12px 6px 8px 5px
}

.about_panel > .panel-body {
  padding: 0px 5px 5px 5px;
}

.about_details_text {
  text-align: center;
  vertical-align: middle;
  float:left;
  font-weight: bold;
}

.about_text {
  float:left;
}

.about_text p, .about_details_text p {
  font-size: 12px;
  color: rgb(80, 126, 80);
}

.about_icon {
  width: 100%;
}

.about_icon > .glyphicon {
  width: 100%;
  font-size: 27px;
  margin-bottom: 15px;
}

.glyphicon.glyphicon-thumbs-up {
  margin-left: 20%;
}

.glyphicon.glyphicon-thumbs-up, .glyphicon.glyphicon-thumbs-down {
  width: 30%;
}
/* main buttons */

.main_button {
  width: 100%;
  margin: 8px 0px;
  border-radius: 1px;
  line-height: 1.9;
}

/*social area */

.social {
  margin-top:15px;
}

.social_panel {
  margin-bottom: 0px;
  background-color: #FFFFFF;
}

/* social buttons */

.facebook_button, .twitter_button,.email_button {
  float: left;
  
}

.facebook_button {
  margin: 10px 5px 5px 15px;
}

.twitter_button {
  margin: 13px 5px 5px 32px;
}

.email_button {
  margin: 10px 5px 4px 30px;
}

.fb-like {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.twitter-share-button{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.email_button_div_bottom {
  margin-top: 5px;
}

.email_share_count {
  margin: auto;
  padding: 5px 18px;
  font-size: 18px;
}

.email_btn {
  padding: 0px 20px;
}

.emailshare_icon {
  height: 28px; 
}

/* email share count bubble */

.bubble
{
position: relative;
width: 70px;
height: 35px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: #9E9D9D solid 1px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 6px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -4px;
left: 29px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 6px 0;
border-color: #9E9D9D transparent;
display: block;
width: 0;
z-index: 0;
bottom: -5px;
left: 29px;
}



/* recceomeded articles panel */

.rec_panel_img_panel_img{
  height: 250px;
  width: 280px
}

.rec_panel_text {
  padding: 5px 12px;
  
}

.rec_panel_text>a {
  font-size: 30px;
  color: #008F00;
}


/* end of profile page*/

/* home */
/* body */

body {
  line-height: 1.21345;
}

/* Main Body */

.main_body {
  background: none repeat scroll 0% 0% rgb(239, 240, 241);
}
/*Carousel area*/

.carousel_img {
  height: 480px !important;
  width: 100% !important;
}

.carousel-caption {
  margin-bottom: 50px;
}

.input-group.carousel_input {
  margin: auto;
}

.bottom_text {
  display: none;
}

/*Main Content Area*/

.content_area {
  width: 78%;
  margin: auto;
  margin-top: 4px;
}

.row .category_articles {
  background: none repeat scroll 0% 0% #EFF0F1;
}

/* content area */

.content_child1 {
  margin-top: 4px;
  
  
}

.category_articles h3{
  margin-left: 13px;
  font-weight: bold;
  color:#1E621E;
}

.tutorial {
  padding-right: 8px;
  padding-left: 8px;
}

/* tutorial content */

.col-xs-3.tutorial {
  width: 30%
}
.panel {
  border: none;
  box-shadow: none;
}


.panel-body.panel_top {
  padding: 0px;
}

.panel_top, .panel_body {
  width: 156px;
  height: 130px;
}

.panel-body {
  padding: 0px 5px;
  border-radius: 0px;
}

.panel-body.panel_top img {
  height: 100%;
  width: 100%;
}
.title {
  font-family: "Museo Slab", "Mashicons",serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 4px;
  text-rendering: optimizelegibility;
  margin-top: 6px;
  
}


.shares {
  float: left;
  margin-top: 5px;
  margin-left: -5px;

}

.share_icon {
  float: left;
  height: 21px;
}

.social {
  margin-left: 8px;
  margin-top: 0px;
  float: left;
  display: none;
}

.shares >.shares_count {
  font-family: "Arial", serif;
  font-size: 16px;
  float:left;
  margin: 3px 0px 0px 4px;
  font-weight: bold;
  color: #008F00; 
}

.shares > .shares_text {
  font-family: "Arial", serif;
  float: left;
  height: 10%;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 16px;
  margin-left: 5px;
}

.date {
  display: none;
}

.info {
  height: 21px;
}

.fb-like {
  margin-top: -10px;
}

.facebook_button, .btn.email_share {
  float: left;
  margin-right: 3px;
  margin-top: 3px; 
}

.facebook-button {
  margin-top: 3px;
}

.btn.email_share {
  width: 50px;
  height: 22px;
  white-space: normal;
  font-size: 10px;
  padding: 2px 0px 1px 0px;
  line-height: 84%;
  margin-top: 0px;
}

.panel {
  border-radius: 0px;
}



/* buttons and social media stuff */

.side_area_col {
  padding-top: 20px;
}

.main_button {
  width: 100%;
  margin: 8px 0px;
  border-radius: 1px;
}

.buttons {
  margin-top: 51px;
}

.hot_articles_panel {
  margin-bottom:5px;
}

.hot_articles .panel {
  background-color: rgb(239, 240, 241);
  margin-top: 19px;
}

.hot_articles .panel .panel-heading {
  display: none;
}

/* individual hot articles panels */

.panel .hot_articles_indv_panel  {
  background-color: rgba(92, 184, 92, 0.11);
  margin-top: 3px;
}

.hot_articles {
  width: 100%;  
}

/*small screen modification and font*/

@media screen and (min-width: 400px) {
  
}



@font-face {
    font-family: 'museo_slab500';
    src: url('Museo_Slab_500_2-webfont.eot');
    src: url('Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('Museo_Slab_500_2-webfont.woff') format('woff'),
         url('Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
.admin_index_main{
  padding-top: 20px;
  background-color: white;
  min-height: 600px;

}
.admin_sidebar{
  position: fixed;
}
.admin_main_content{
  margin-top: 20px;
}
.admin_stats_info_container
{
  border: 1px solid rgb(236, 227, 227);
margin: auto;
margin-left: 15px;
margin-top: -1px;
width: 97%;
}