<footer>
    <div class="footer_col">
        <p class="footer_col_text">Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholder </p>
    </div>
    <div class="footer_col">
        <p class="footer_col_text">Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholder </p>
    </div>
    <div class="footer_col">
        <p class="footer_col_text">Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholder </p>
    </div>
    <div class="footer_col">
        <p class="footer_col_text">Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholder </p>
    </div>
    <div class="footer_col">
        <p class="footer_col_text"> Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholder </p>
        <div class="footer_social_media">Social Media icons go here</div>
    </div>
    <div class="copyright_info">Vikile 2015</div>
</footer>