<div class="main_buttons stationary">
	<%= image_tag "yaz.png", :alt => "vikile logo" , :class => "yaz_img_button"%>
</div>
<div class="main_buttons stationary">                      
	
	<%= image_tag "rasgele.png", :alt => "vikile logo" , :class => "rasgele_img_button"%>
	
</div>
<div class="main_buttons stationary">
	<%= image_tag "yaz.png", :alt => "vikile logo", :class => "other_img_button"%>
	
</div>